<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>probando mi pagina html</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/e5f77268b6.js" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-wid th, initial-scale=1">


</head>
<body>
    <script type="text/JavaScript">
        console.log("!Hola soy javaScript en el frontEnd!");
        let nombre = 'Juana'
        console.log('Hola ' + nombre);
        console.log(4 % 2);
    </script>
    <!--selector id-->
    <h1 id="saludo">Bienvenidos al mundo de la web interactiva</h1>
    <h2 class="somos">Somos los mejores en este campo</h2>
    <img src="/images/paisaje.jpg" alt="">
    <h3 class="foto">que buena foto de un tamaño grande</h3>
    <!--Formulario-->
    <form action="" method="">
<div>
    <label>Nombre completo</label>
    <input type="text" name="NombreUsuario">
    </div>
<div>
    <label>Contraseña</label>
    <input type="password" name="paswaordUsuario">
    </div>
    <div>
        <label>Correo electrónico</label>
        <input type="email" name="emailUsuario">
    </div>
    <div>
        <button type="submit">enviar</button>
    </div>
    </form>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis adipisci sit odit voluptatum, corporis incidunt quis ad saepe dicta eligendi aperiam aliquid laborum omnis asperiores tempore nostrum, unde, ipsam natus.</p>
<p>otro mas probando</p>
<ol id="lista">
    <li>lista numero 1</li>
    <li>lista numero 3</li>
    <li>lista numero 6</li>
    
</ol>
<ul>
    <li>item 1</li>
    <li>item 2</li>
    <li>item 4</li>
</ul>
<a href="https:www.google.com.ar">ir a google</a>
<form action="" method=""> </form>
<button type="reset">borrar
    </button>
    <button type="submit">enviar</button>
    <label>nombre completo</label>
    <input type="text">
    <input type="password">
    <input type="email">
    <input type="tel">
    <textarea name="" id="" cols="30" rows="10">
                    </textarea>
<textarea name="" id="" cols="3" rows="3"></textarea>
<opcion>argentina</opcion>
<label><input type="radio"></label>
</body>

<footer>
    <i>los derechos son reservados para la mejora continua</i>
</footer>
</html>
